@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.bigbox1 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-bigbox {
  height: 50rem;
}

.main-login-box {
  /* position: absolute; */
  height: 30rem;
  width: 25rem;
  border-radius: 10px;
  background-color: rgb(251, 249, 240);
  margin-top: 5rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.login-navbar {
  display: flex;
}

.login-navbar .login-nav-headings {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 20rem;
  display: flex;
  justify-content: center;
}

.active {
  border-bottom: solid rgb(16, 12, 3) 2px;
}

.login-nav-components {
  text-decoration: none;
  color: black;
}
.headings {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
}
.login-email-id,
.login-password {
  margin-top: 0rem;
  margin-left: 2rem;
  width: 21rem;
  height: 2rem;
  border-radius: 8px;
  border-style: none;
}
.login-btn,
.create-account-btn {
  margin-left: 2rem;
  margin-top: 1rem;
  width: 5rem;
  height: 2rem;
  background-color: rgb(16, 12, 3);
  color: white;
  border-style: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.login-btn {
  margin-top: 3rem;
}
.create-email-id,
.create-password,
.create-fullname {
  margin-top: 0rem;
  margin-left: 2rem;
  width: 21rem;
  height: 2rem;
  border-radius: 8px;
  border-style: none;
}
.create-account-btn {
  margin-top: 1.5rem;
  width: 7rem;
}

input {
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

.cart-animation {
  height: 35rem;
  overflow-y: hidden;
  margin-left: -10rem;
}
