@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

.section-1 {
  height: 35rem;
  background-color: #2a2a2a;
  width: 100%;
  margin-top: 7rem;
  display: flex;
  justify-content: flex-end;
}

.slider-img {
  height: 100%;
  width: 50%;
}

.latest-product-text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.latest-product-heading {
  font-size: 3rem;
  width: 25rem;
}

.latest-product-innertext {
  margin-top: 1rem;
  margin-left: -5rem;
}
.see-latest-products-btn {
  width: 7rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: -18rem;
  /* font-size: 1.2rem; */
  background-color: beige;
  color: black;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out 0.25s;
}

.see-latest-products-btn:hover {
  background-color: aliceblue;
  color: black;
}
