.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-heading {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.input-btn {
  margin-left: 2rem;
}

.newsletter-input {
  margin-top: 2rem;
  width: 20rem;
  height: 2rem;
  text-align: center;
}

.subscribe-btn {
  margin-left: 1rem;
  height: 2.2rem;
  width: 5rem;
  background-color: #2a2a2a;
  color: whitesmoke;
  cursor: pointer;
}
