@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
.navbar {
  width: 100vw;
  height: 7.5rem;
  background: #f3dcb3;
  position: fixed;
  z-index: 2;
}

.upper-navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-navbar {
  width: 100%;
  height: 2.5rem;
  background-color: #201d1d;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-navbar-items {
  height: 90%;
  width: 100%;
  /* margin-right: 15rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-upper {
  color: rgb(45, 14, 14);
  font-size: 2rem;
  font-weight: bolder;
}

.logo-lower {
  /* margin-top: 0.4rem; */
  color: rgb(45, 14, 14);
  font-size: 0.8rem;
}

.logo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ephesis", cursive;
}
.logo-upper {
  font-size: 3rem;
}

.logo-lower {
  font-size: 1rem;
  margin-top: -1rem;
}
.navigation-items {
  height: 4rem;
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
}

.lower-navbar-contents {
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  font-weight: bolder;
  height: 2rem;
}

.lower-navbar-contents div {
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.lower-navbar-contents div:hover {
  color: rgb(255, 212, 133);
}

.navbar-icons {
  transition: ease-in-out 0.25s;
  cursor: pointer;
  margin-top: 0.2rem;
  margin-left: 1rem;
}
.navbar-icons:hover {
  color: rgb(104, 104, 104);
}

.login-nav-btn:hover {
  background-color: #2a2a2a;
  color: whitesmoke;
  cursor: pointer;
}

.login-nav-btn {
  margin-top: 0.3rem;
  border: solid black;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: ease-in-out 0.25s;
}

.cart {
  margin-top: 0.4rem;
}

.no-of-items-in-cart {
  position: absolute;
  margin-left: 2.5rem;
  background-color: red;
  color: whitesmoke;
  height: 1.17rem;
  width: 1.17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
