#wrapper {
  height: 35rem;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -3rem;
}

#container {
  width: 400vw;
}

.item {
  height: 23rem;
  width: 6%;
  padding: 10px;
  float: left;
  background-color: rgb(185, 182, 180);
  margin-top: 5rem;
  margin-left: 1rem;
  border-radius: 7px;
}

.slide-1 {
  margin-left: 1.5rem;
}
