@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");
body {
  margin: 0;
  background-color: #dedddb;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
