@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");
body {
  margin: 0;
  background-color: #fff2d9;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}
