@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;600&display=swap");
.banner-1-section {
  background-color: #2a2a2a;
  width: 100vw;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-1-box {
  width: 70rem;
  background-color: rgb(183, 174, 162);
  height: 30rem;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.banner-1-img {
  height: 100%;
  width: 60%;
}

.banner-1-text {
  width: 24rem;
  margin-left: 3rem;
}

.extra-left-margin {
  margin-left: 3rem;
}
.banner-1-heading {
  font-size: 2rem;
}

.banner-1-innertext {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.banner-1-btn {
  height: 2rem;
  margin-top: 2rem;
  width: 7rem;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.banner-1-btn:hover {
  background-color: whitesmoke;
  color: black;
  border: whitesmoke;
}
